.top-movie{
    width:auto;
    height: 20%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    overflow-x: auto;

}
/* controling the scroll bar of the app*/
::-webkit-scrollbar{
    width: 0px;
    background-color:#282c34;;
}
/*movie componet*/
.movie-continer{
    width:200px;
    height: 300px;
    margin-left:10px;
    margin-top: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(17, 14, 48);
    border-radius: 5px;
    box-shadow: 0px 2px 10px 0.5px rgba(255, 255, 255, 0.2);
    margin-bottom:8px;
    position:relative;
}
.photo-continer{
    width:190px;
    height: 230px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top:5px
    
}
.photo-continer img{
    width:190px;
    height: 210px;
    
}
.data-continer{
    width:200px;
    height: 90px;
    display:flex;
    align-items:center;
    justify-content: center;
}
.data-continer p{
    font-size:20px
}
.data-continer span{
    background-color:rgb(17, 14, 48);
    width:40px;
    height:40px;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    
}